@use 'variables' as *;

.rm-banner {
  img {
    width: 100%;
  }
}

.rm-banner-mobile {
  display: block;
}
.rm-banner-tablet {
  display: none;
}

@include for-md {
  .rm-banner-mobile {
    display: none;
  }
  .rm-banner-tablet {
    display: block;
  }
}
