@use 'variables' as *;


.rm-checkout-block {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba($grey-two-rm-color, 1);
}

// order table
.woocommerce-checkout-review-order-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 30px;
  margin-top: -30px;

  .rm-section-title {
    border-bottom: 1px solid $black-rm-color;
  }
}

.product-name {
  display: flex;
  gap: 20px;

  .product-name-image {
    width: 100px;
    height: 100px;
  }
}

.woocommerce-shipping-methods {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;

  li {
    display: flex;
    border: 1px solid $grey-two-rm-color;
    border-radius: 18px;
    position: relative;
    margin-bottom: 5px;
    color: $grey-two-rm-color;

    &:has(input[type="radio"]:checked) {
      background-color: $red-one-rm-color;
      border-color: $red-one-rm-color;
      color: $white-rm-color;
    }


  }
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  position: relative;
  width: 100%;
  padding: 5px 20px 5px 40px;

  &:hover {
    cursor: pointer;
  }
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 8px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $white-rm-color;
  position: absolute;
  top: 11px;
  left: 13px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
