@use 'variables' as *;

body {
  margin: 0;

  &.page-template-landing-page {
    background-color: $black-rm-color;
  }

  &.woocommerce-shop {
    background-color: $white-rm-color;
  }
}

a {
  text-decoration: none;
}

.wc-block-components-country-input {
  display: none;
}

.admin-bar {
  .rm-desktop-menu {
    top: 32px;
  }

  .rm-shop-desktop-menu {
    top: 32px;
  }
}

.rm-section-head {
  text-align: center;
}

.rm-section-head-text {
  font-size: var(--small-font-size);
  color: $grey-one-rm-color;
  font-weight: 500;
}

.rm-heading {
  font-family: $font-primary;
  font-weight: 500;
  font-size: var(--heading-font-size);
  color: $white-rm-color;
}

.rm-list-group {
  list-style-type: none;
  padding: 0;

  .rm-list-group-item {
    text-align: center;
    margin-bottom: 5px;
    font-family: $font-primary;
    font-size: var(--normal-font-size);
    font-weight: 500;
  }

  .rm-list-group-item-day {
    color: $white-rm-color;
  }

  .rm-list-group-item-time {
    color: $grey-one-rm-color;
  }
}

.rm-btn {
  background-color: $white-rm-color;
  color: $black-rm-color;
  font-family: $font-primary;
  font-size: var(--normal-font-size);
  font-weight: 500;
  padding: 13px 35px;
  border-radius: 8px;
  line-height: 1;
  border: none;

  @include for-md {
    padding: 15px 40px;
  }
}


.rm-rating-stars {
  display: flex;
  justify-content: center;
  gap: 5px;

  .rm-rating-star {
    i {
      color: $grey-one-rm-color;
      font-size: 20px;

      &.fill {
        color: $white-rm-color;
      }
    }
  }
}

.rm-shop-page {
  padding: 100px 0 50px;
  min-height: 500px;

  @include for-lg {
    padding: 100px 0;
  }
}

.rm-page-view-info-breadcrumb {
  margin-bottom: 30px;

  @include for-lg {
    margin-bottom: unset;
  }
}


.slick-prev {
  &:before {
    content: '';
  }

  i {
    color: $white-rm-color;
    font-size: 20px;
    font-weight: 100;
  }
}

.slick-next {
  &:before {
    content: '';
  }

  i {
    color: $white-rm-color;
    font-size: 20px;
    font-weight: 100;
  }
}

textarea,
input {
  border: 1px solid $grey-two-rm-color;
  border-radius: 8px;
  color: $grey-one-rm-color;
  line-height: 1;
  max-width: 100%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Hide the default radio */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid $grey-two-rm-color;
  border-radius: 50%;
  position: relative;
  background-color: white;
  cursor: pointer;
  vertical-align: middle;
  transition: border-color 0.3s ease;
}

/* Checked style */
input[type="radio"]:checked {
  border-color: $red-one-rm-color;

}

/* Inner dot */
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $red-one-rm-color;
}

/* Hover effect */
input[type="radio"]:hover {
  border-color: #005f8d;
}

.rm-pt-none {
  padding-top: 0;
}

.woocommerce-breadcrumb {
  a {
    &:first-child {
      color: $black-rm-color!important;
    }

    font-weight: 500;
    color: $red-one-rm-color!important;
    text-decoration: underline;
    padding: 5px 10px 5px 0;
  }

  span {
    padding: 5px;
    color: $red-one-rm-color;
    opacity: .7;
    font-weight: 500;
  }
}