@use 'variables' as *;

.rm-shop-category-layout {
  position: relative;

  @include for-md {
    display: flex;
  }
}

.rm-products-filter {
  width: 100%;

  @include for-md {
    position: sticky;
    top: 150px;
    height: fit-content;
    max-width: 200px;
    width: fit-content;
  }

  .rm-products-filter-title {
    font-size: var(--title-font-size);
    color: $black-rm-color;
    font-weight: 500;
  }
}

.rm-filters {
  margin-bottom: 30px;
  width: 100%;

  @include for-md {
    flex-direction: column;
  }

  .rm-filter-label {
    color: $black-rm-color;
    font-weight: 600;
  }

  .rm-filter-options {
    margin: 20px 0;
  }

  .rm-filter-option {
    margin: 3px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      cursor: pointer;
    }

    input[type="checkbox"] {
      width: 16px;
      height: 16px;

      &:checked {
        accent-color: $red-one-rm-color;
      }
    }
  }

  .rm-filters-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include for-md {
      margin-top: 20px;
    }

    a,
    button {
      text-align: center;
      width: 150px;
    }
  }
}

/** Products grid **/
.rm-products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include for-md {
    max-width: 500px;
    margin: auto;
  }

  @include for-lg {
    max-width: 760px;
  }

  @include for-xl {
    max-width: 940px;
  }
  
  @media only screen and (min-width: 1400px){
    max-width: 1120px;
  }
}

.rm-shop-category {
  margin-bottom: 50px;
}

.rm-shop-category-title {
  font-size: var(--shop-heading-font-size);
  font-family: $font-primary;
  font-style: italic;
  font-weight: 600;
  color: $red-one-rm-color;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}
.rm-product-card {
  width: calc(50% - 5px);

  @include for-lg {
    width: calc(25% - 10px);
  }

  .rm-product-card-content {
    border: 1px solid $grey-one-rm-color;
    text-align: center;
  }

  .rm-product-thumbnail {
    padding: 5px;
  }

  .rm-product-price {
    font-size: var(--title-font-size);
    color: $red-one-rm-color;
    font-family: $font-primary;
    font-style: italic;
    font-weight: 600;
    padding: 0 5px;
  }

  .rm-product-title {
    font-family: $font-primary;
    font-size: var(--normal-font-size);
    color: $black-rm-color;
    font-weight: 600;
    padding: 0 5px;
    line-height: 1;
    min-height: 40px;
  }

  .rm-product-buttons {
    display: flex;
    background-color: $grey-two-rm-color;

    &:hover {
      background-color: $red-one-rm-color;
    }

    text-align: center;
    border-top: 1px solid $grey-one-rm-color;

    a {
      width: 100%;
      padding: 10px 0;
      font-family: $font-primary;
      font-size: var(--normal-font-size);
      font-weight: 600;
      color: $white-rm-color;
    }
  }
}

.rm-shop-products-grid-gift-cards {
  .rm-product-title {
    display: none;
  }
}

.rm-products-grid-gift-cards {
  max-width: 810px;

  .rm-product-card {
    @include for-lg {
      width: calc(33.3% - 10px);
    }
  }

  .rm-product-title {
    display: none;
  }
}