@use 'variables' as *;

.rm-shop-primary-btn {
  background-color: $red-one-rm-color;
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 600;
  padding: 5px 35px;
  border-radius: 5px;
  border: 1px solid $red-one-rm-color;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    margin-right: 10px;
    font-size: 20px;
  }

  &:hover {
    background-color: $grey-two-rm-color;
    border-color: $grey-two-rm-color;
  }
}
.rm-shop-secondary-btn {
  background-color: $white-rm-color;
  color: $black-rm-color;
  font-size: var(--normal-font-size);
  font-weight: 600;
  padding: 5px 35px;
  border-radius: 5px;
  border: 1px solid $black-rm-color;
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
    font-size: 20px;
  }

  &:hover {
    background-color: $grey-two-rm-color;
    color: $white-rm-color;
    border-color: $grey-two-rm-color;
  }
}

.rm-shop-category-block {
  margin-bottom: 50px;
}

.rm-products-category-redirect {
  margin: 30px auto;
  color: $grey-two-rm-color;
  font-size: var(--title-font-size);
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;

  i {
    color: $black-rm-color;
    font-size: 28px;
  }
}

.rm-product-thumbnail {
  img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.rm-product-actions {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px auto;
}

.rm-offcanvas {
  max-width: 320px;
}

.wc-block-components-button {
  background-color: $red-one-rm-color;
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 600;
  padding: 5px 35px;
  border-radius: 5px;
  border: 1px solid $red-one-rm-color;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $grey-two-rm-color;
    border-color: $grey-two-rm-color;
  }

  &:focus,
  &:focus-visible {
    box-shadow: unset!important;
    outline: unset;
  }
}