@use 'variables' as *;

/** ----- subsidiary block ----- **/
.rm-subsidiary-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  .rm-subsidiary-block-address {
    font-family: $font-primary;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: $white-rm-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rm-subsidiary-block-logo-text {
    font-family: $font-secondary;
    font-size: 32px;
    font-weight: 600;
    color: $green-rm-color;
    margin-top: -17px;
  }

  .rm-subsidiary-block-button {
    button {
      border: 1px solid $white-rm-color;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: var(--small-font-size);
      font-weight: 500;
      padding: 6px 15px;
      color: $white-rm-color;
      line-height: 1;
      border-radius: 8px;
    }
  }
}

.rm-subsidiary-block-one {
  .rm-subsidiary-block-logo-text {
    color: $green-rm-color;
  }
}

.rm-subsidiary-block-two {
  .rm-subsidiary-block-logo-text {
    color: $purple-rm-color;
  }
}

.rm-subsidiary-block-three {
  .rm-subsidiary-block-logo-text {
    color: $red-two-rm-color;
  }
}

.rm-subsidiary-block-four {
  .rm-subsidiary-block-logo-text {
    color: $yellow-rm-color;
  }
}

.rm-subsidiary-block-five {
  .rm-subsidiary-block-logo-text {
    color: $orange-rm-color;
  }
}

/** ----- subsidiary modal ----- **/
.rm-subsidiary-modal {
  .rm-subsidiary-modal-logo {
    .rm-subsidiary-modal-logo-text {
      text-align: center;
      font-family: $font-secondary;
      font-size: 36px;
      font-weight: 500;
      margin-top: -17px;

      @include for-md {
        font-size: 50px;
      }
    }

    .rm-subsidiary-modal-logo-img {
      rotate: 4deg;

      img {
        width: 255px;
      }
    }
  }
}

.rm-subsidiary-modal-one {
  .rm-subsidiary-modal-logo-text {
    color: $green-rm-color;
  }

  .rm-subsidiary-tab-button {
    &.active {
      color: $green-rm-color;
    }
  }

  .rm-subsidiary-tab {
    &:has(.rm-subsidiary-tab-button.active) {
      border-color: $green-rm-color;
    }
  }
}

.rm-subsidiary-modal-two {
  .rm-subsidiary-modal-logo-text {
    color: $purple-rm-color;
  }

  .rm-subsidiary-tab-button {
    &.active {
      color: $purple-rm-color;
    }
  }

  .rm-subsidiary-tab {
    &:has(.rm-subsidiary-tab-button.active) {
      border-color: $purple-rm-color;
    }
  }
}

.rm-subsidiary-modal-three {
  .rm-subsidiary-modal-logo-text {
    color: $red-two-rm-color;
  }

  .rm-subsidiary-tab-button {
    &.active {
      color: $red-two-rm-color;
    }
  }

  .rm-subsidiary-tab {
    &:has(.rm-subsidiary-tab-button.active) {
      border-color: $red-two-rm-color;
    }
  }
}

.rm-subsidiary-modal-four {
  .rm-subsidiary-modal-logo-text {
    color: $yellow-rm-color;
  }

  .rm-subsidiary-tab-button {
    &.active {
      color: $yellow-rm-color;
    }
  }

  .rm-subsidiary-tab {
    &:has(.rm-subsidiary-tab-button.active) {
      border-color: $yellow-rm-color;
    }
  }
}

.rm-subsidiary-modal-five {
  .rm-subsidiary-modal-logo-text {
    color: $orange-rm-color;
  }

  .rm-subsidiary-tab-button {
    &.active {
      color: $orange-rm-color;
    }
  }

  .rm-subsidiary-tab {
    &:has(.rm-subsidiary-tab-button.active) {
      border-color: $orange-rm-color;
    }
  }
}

.rm-subsidiary-tabs {
  padding-bottom: 40px;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;

  &.nav-tabs {
    border: none;
    flex-wrap: nowrap;
  }

  .rm-subsidiary-tab {
    border-right: 1px solid $grey-one-rm-color;
    flex: 0 0 auto;

    &:last-of-type {
      border: none;
    }
  }

  .rm-subsidiary-tab-button {
    color: $grey-one-rm-color;
    font-size: var(--title-font-size);
    padding: 10px 20px;
    font-weight: 500;

    &.active {
      background-color: transparent;
    }

    &:hover {
      border: none;
    }
  }
}

#myTabContent.rm-subsidiary-modal-tabs-content {
  .rm-subsidiary-tab-content-gallery {
    .rl-gallery {
      gap: 15px;

      .rl-gallery-item {
        border-radius: 10px;
        width: 100%;
        height: 200px;
        margin: 0;

        @include for-sm {
          width: calc(50% - 8px);
        }

        @include for-lg {
          width: calc(33.3% - 10px);
        }

        @include for-xl {
          width: calc(25% - 12px);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .rl-gallery-link {
          width: 100%;
          height: 100%;

          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.nivo-lightbox-overlay {
  backdrop-filter: $modal-bg;
}

.rm-subsidiary-modal-contacts {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .rm-subsidiary-modal-contacts-address,
  .rm-subsidiary-modal-contacts-phone {
    color: $white-rm-color;
    font-family: $font-primary;
    font-size: var(--small-font-size);
    font-weight: 500;
  }

  .rm-subsidiary-modal-contacts-links {
    display: flex;
    justify-content: center;
    gap: 30px;

    a {
      text-decoration: none;
    }

    i {
      font-size: 54px;
      color: $grey-one-rm-color;
      transition: .5s;

      &:hover {
        color: $white-rm-color
      }
    }
  }
}
