/** ----- Colors ----- **/
/** ------ Small screen ------ **/
/** ------ Medium screen ------ **/
/** ------ Large screen ------ **/
/** ------ Extra large screen ------ **/
/** ------ 2x large screen ------ **/
/** ----- font sizes ----- **/
:root {
  --heading-font-size: 28px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --title-font-size: 20px;
}
@media screen and (min-width: 768px) {
  :root {
    --heading-font-size: 44px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --title-font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --heading-font-size: 70px;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 50px 0;
}

.rm-section-head {
  text-align: center;
}

.rm-section-head-text {
  font-size: var(--small-font-size);
  color: #54595F;
  font-weight: 500;
}

.rm-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--heading-font-size);
  color: #fff;
}

.rm-list-group {
  list-style-type: none;
  padding: 0;
}
.rm-list-group .rm-list-group-item {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  font-weight: 500;
}
.rm-list-group .rm-list-group-item-day {
  color: #fff;
}
.rm-list-group .rm-list-group-item-time {
  color: #54595F;
}

.rm-btn {
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  font-weight: 500;
  padding: 13px 35px;
  border-radius: 8px;
  line-height: 1;
  border: none;
}
@media screen and (min-width: 768px) {
  .rm-btn {
    padding: 15px 40px;
  }
}

body {
  background-color: yellow;
}

.rm-navbar {
  background-color: #000;
}
.rm-navbar .rm-nav-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rm-navbar .menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rm-navbar .menu-item {
  display: flex;
}
.rm-navbar .menu-item a {
  color: #B3B3B3;
  font-family: "Montserrat", sans-serif;
  font-size: var(--small-font-size);
  text-decoration: none;
  padding: 10px;
}
.rm-navbar .menu-item a:hover {
  color: #fff;
}
.rm-navbar .current-language-menu-item a {
  color: #fff;
}

.rm-desktop-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1054;
}
@media screen and (min-width: 768px) {
  .rm-desktop-menu {
    display: block;
  }
}
.rm-desktop-menu .rm-desktop-menu-bar {
  padding: 10px 0;
  background-color: #000;
  position: relative;
  z-index: 1054;
}
.rm-desktop-menu .menu {
  flex-direction: row;
}

.rm-mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1054;
}
@media screen and (min-width: 768px) {
  .rm-mobile-menu {
    display: none;
  }
}
.rm-mobile-menu .rm-mobile-menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1054;
  padding: 20px 20px;
  background-color: #000;
}
.rm-mobile-menu .rm-navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
}
.rm-mobile-menu .rm-navbar-toggler[aria-expanded=false] i::before {
  content: "\f479";
}
.rm-mobile-menu .rm-navbar-toggler[aria-expanded=true] i::before {
  content: "\f659";
}
.rm-mobile-menu .rm-navbar-toggler i {
  color: #fff;
  font-size: 32px;
}
.rm-mobile-menu .collapse {
  position: relative;
  z-index: 1054;
}
.rm-mobile-menu .rm-nav-collapse {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: calc(100vh - 46px);
}
.rm-mobile-menu .rm-nav-mobile-row .menu {
  flex-direction: row;
  justify-content: center;
}
.rm-mobile-menu .rm-nav-mobile-column {
  display: flex;
  justify-content: center;
}
.rm-mobile-menu .rm-nav-mobile-column .menu {
  flex-direction: column;
}
.rm-mobile-menu .menu .menu-item {
  display: flex;
  justify-content: center;
}
.rm-mobile-menu .menu .menu-item a {
  font-size: 24px;
  line-height: 1;
}

.rm-menu-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(90deg, #004DFF, #FF0000);
  z-index: 1050;
  filter: blur(50px);
}

.rm-social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.rm-social-media .rm-social-media-item i {
  color: #fff;
  font-size: 28px;
}

.rm-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rm-page-slider {
  position: relative;
}
@media screen and (min-width: 768px) {
  .rm-page-slider::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 200px;
    height: 100%;
    box-shadow: inset 120px 0 50px 5px #000;
  }
  .rm-page-slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    width: 200px;
    height: 100%;
    box-shadow: inset -120px 0 50px 5px #000 #000;
  }
}
@media screen and (min-width: 1024px) {
  .rm-page-slider::before {
    width: 400px;
  }
  .rm-page-slider::after {
    width: 400px;
  }
}
.rm-page-slider .owl-stage .carousel-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
  padding: 60px 0;
  border-right: 1px solid #54595F;
}
@media screen and (min-width: 768px) {
  .rm-page-slider .owl-stage .carousel-slider__item {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .rm-page-slider .owl-stage .carousel-slider__item {
    height: 500px;
  }
}
@media screen and (min-width: 1536px) {
  .rm-page-slider .owl-stage .carousel-slider__item {
    height: 600px;
  }
}
.rm-page-slider .owl-stage .carousel-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rm-services {
  max-width: 800px;
  margin: auto;
}
.rm-services .rm-services-tabs {
  padding-top: 30px;
  padding-bottom: 40px;
  border: none;
  justify-content: center;
}
.rm-services .rm-services-tabs .rm-services-tab-basic .active {
  color: #fff;
}
.rm-services .rm-services-tabs .rm-services-tab-pro .active {
  color: #004DFF;
}
.rm-services .rm-services-tabs .rm-services-tab-top .active {
  color: #FF0000;
}
.rm-services .rm-services-tabs .rm-services-tab-grand .active {
  color: #00FF00;
}
.rm-services .rm-services-tabs .rm-services-tab {
  color: #54595F;
  border: none;
  font-size: var(--title-font-size);
  padding: 10px 20px;
  font-weight: 500;
}
.rm-services .rm-services-tabs .rm-services-tab.active {
  background-color: transparent;
}
.rm-services .rm-services-tabs .rm-services-tab:hover {
  border: none;
}
.rm-services .rm-services-tab-content-basic .accordion-item {
  border-color: #fff;
}
.rm-services .rm-services-tab-content-basic .accordion-item:not(:first-of-type) {
  border-top: 1px solid #fff;
}
.rm-services .rm-services-tab-content-pro .accordion-item {
  border-color: #004DFF;
}
.rm-services .rm-services-tab-content-pro .accordion-item:not(:first-of-type) {
  border-top: 1px solid #004DFF;
}
.rm-services .rm-services-tab-content-pro .accordion-item .rm-accordion-heading-price {
  color: #004DFF;
}
.rm-services .rm-services-tab-content-top .accordion-item {
  border-color: #FF0000;
}
.rm-services .rm-services-tab-content-top .accordion-item:not(:first-of-type) {
  border-top: 1px solid #FF0000;
}
.rm-services .rm-services-tab-content-top .accordion-item .rm-accordion-heading-price {
  color: #FF0000;
}
.rm-services .rm-services-tab-content-grand .accordion-item {
  border-color: #00FF00;
}
.rm-services .rm-services-tab-content-grand .accordion-item:not(:first-of-type) {
  border-top: 1px solid #00FF00;
}
.rm-services .rm-services-tab-content-grand .accordion-item .rm-accordion-heading-price {
  color: #00FF00;
}
.rm-services .accordion-item {
  background-color: #000;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
.rm-services .accordion-item:has(.rm-accordion-heading.collapsed) {
  border-color: #54595F;
}
.rm-services .accordion-item:not(:first-of-type):has(.rm-accordion-heading.collapsed) {
  border-top: 1px solid #54595F;
}
.rm-services .accordion-item .rm-accordion-heading {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 20px;
  font-weight: 700;
}
.rm-services .accordion-item .rm-accordion-heading .rm-accordion-heading-price span {
  font-size: 14px;
}
.rm-services .accordion-item .accordion-body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  color: #fff;
  text-align: center;
}

/** ----- subsidiary block ----- **/
.rm-subsidiary-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.rm-subsidiary-block .rm-subsidiary-block-address {
  font-family: "Montserrat", sans-serif;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.rm-subsidiary-block .rm-subsidiary-block-logo-text {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #00FF00;
  margin-top: -17px;
}
.rm-subsidiary-block .rm-subsidiary-block-button button {
  border: 1px solid #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: var(--small-font-size);
  font-weight: 500;
  padding: 6px 15px;
  color: #fff;
  line-height: 1;
  border-radius: 8px;
}

.rm-subsidiary-block-one .rm-subsidiary-block-logo-text {
  color: #00FF00;
}

.rm-subsidiary-block-two .rm-subsidiary-block-logo-text {
  color: #A200FF;
}

.rm-subsidiary-block-three .rm-subsidiary-block-logo-text {
  color: #FF0000;
}

.rm-subsidiary-block-four .rm-subsidiary-block-logo-text {
  color: #F7FF00;
}

/** ----- subsidiary modal ----- **/
.rm-subsidiary-modal .rm-subsidiary-modal-logo .rm-subsidiary-modal-logo-text {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-top: -17px;
}
@media screen and (min-width: 768px) {
  .rm-subsidiary-modal .rm-subsidiary-modal-logo .rm-subsidiary-modal-logo-text {
    font-size: 50px;
  }
}
.rm-subsidiary-modal .rm-subsidiary-modal-logo .rm-subsidiary-modal-logo-img {
  rotate: 4deg;
}
.rm-subsidiary-modal .rm-subsidiary-modal-logo .rm-subsidiary-modal-logo-img img {
  width: 255px;
}

.rm-subsidiary-modal-one .rm-subsidiary-modal-logo-text {
  color: #00FF00;
}
.rm-subsidiary-modal-one .rm-subsidiary-tab-button.active {
  color: #00FF00;
}

.rm-subsidiary-modal-two .rm-subsidiary-modal-logo-text {
  color: #A200FF;
}
.rm-subsidiary-modal-two .rm-subsidiary-tab-button.active {
  color: #A200FF;
}

.rm-subsidiary-modal-three .rm-subsidiary-modal-logo-text {
  color: #FF0000;
}
.rm-subsidiary-modal-three .rm-subsidiary-tab-button.active {
  color: #FF0000;
}

.rm-subsidiary-modal-four .rm-subsidiary-modal-logo-text {
  color: #F7FF00;
}
.rm-subsidiary-modal-four .rm-subsidiary-tab-button.active {
  color: #F7FF00;
}

.rm-subsidiary-tabs {
  padding-bottom: 40px;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
.rm-subsidiary-tabs.nav-tabs {
  border: none;
  flex-wrap: nowrap;
}
.rm-subsidiary-tabs .rm-subsidiary-tab {
  border-right: 1px solid #54595F;
  flex: 0 0 auto;
}
.rm-subsidiary-tabs .rm-subsidiary-tab:last-of-type {
  border: none;
}
.rm-subsidiary-tabs .rm-subsidiary-tab:has(.rm-subsidiary-tab-button.active) {
  border-color: #00FF00;
}
.rm-subsidiary-tabs .rm-subsidiary-tab-button {
  color: #54595F;
  font-size: var(--title-font-size);
  padding: 10px 20px;
  font-weight: 500;
}
.rm-subsidiary-tabs .rm-subsidiary-tab-button.active {
  background-color: transparent;
}
.rm-subsidiary-tabs .rm-subsidiary-tab-button:hover {
  border: none;
}

.rm-subsidiary-modal-contacts {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.rm-subsidiary-modal-contacts .rm-subsidiary-modal-contacts-address,
.rm-subsidiary-modal-contacts .rm-subsidiary-modal-contacts-phone {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: var(--small-font-size);
  font-weight: 500;
}
.rm-subsidiary-modal-contacts .rm-rm-subsidiary-modal-contacts-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.rm-subsidiary-modal-contacts .rm-rm-subsidiary-modal-contacts-links i {
  font-size: 54px;
  color: #54595F;
}
.rm-subsidiary-modal-contacts .rm-rm-subsidiary-modal-contacts-links i:hover {
  color: #fff;
}

.modal-backdrop {
  background-color: transparent !important;
}

.rm-modal {
  backdrop-filter: blur(37px) brightness(50%);
}
.rm-modal .rm-modal-dialog {
  height: calc(100vh - 102px);
  border: 1px solid #54595F;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.rm-modal .rm-modal-content {
  height: 100%;
  overflow-y: auto;
  background-color: unset;
}
.rm-modal .rm-modal-header {
  display: flex;
  justify-content: center;
  border-bottom: none;
  padding-top: 50px;
}
.rm-modal .rm-modal-header .rm-modal-title {
  font-family: "Montserrat", sans-serif;
  font-size: var(--heading-font-size);
  font-weight: 500;
  color: #fff;
  line-height: 1;
}
.rm-modal .rm-modal-header .rm-btn-close {
  color: #fff;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .rm-modal .rm-modal-header .rm-btn-close {
    top: 20px;
    right: 20px;
  }
}
.rm-modal .rm-modal-header .rm-btn-close i {
  font-size: 24px;
}
.rm-modal .rm-modal-body {
  text-align: center;
}
.rm-modal .rm-modal-body .rm-modal-body-title {
  font-family: "Montserrat", sans-serif;
  font-size: var(--title-font-size);
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}
.rm-modal .rm-modal-body .rm-modal-body-content {
  margin-bottom: 15px;
}
.rm-modal .rm-modal-body .rm-modal-body-content p {
  font-family: "Montserrat", sans-serif;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.rm-timeline-animation {
  max-width: 900px;
  margin: auto;
}

.rm-timeline {
  margin-top: 30px;
}
.rm-timeline .rm-timeline-shadow {
  position: relative;
}
.rm-timeline .rm-timeline-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 150px;
  height: 100%;
  box-shadow: inset 100px 0 40px -15px #000;
}
@media screen and (min-width: 1024px) {
  .rm-timeline .rm-timeline-shadow::before {
    width: 250px;
    box-shadow: inset 150px 0 50px -15px #000;
  }
}
.rm-timeline .rm-timeline-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 150px;
  height: 100%;
  box-shadow: inset -100px 0 40px -15px #000;
}
@media screen and (min-width: 1024px) {
  .rm-timeline .rm-timeline-shadow::after {
    width: 250px;
    box-shadow: inset -150px 0 50px -15px #000;
  }
}
.rm-timeline .rm-timeline-nav:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 17px;
  left: 0;
  right: 0;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item.slick-current .rm-timeline-nav-item-label {
  color: #fff;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item.slick-current .rm-timeline-nav-item-dot {
  background-color: #FF0000;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item .rm-timeline-nav-item-point {
  margin-bottom: 15px;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item .rm-timeline-nav-item-point:hover {
  cursor: pointer;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item .rm-timeline-nav-item-label {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: #54595F;
}
.rm-timeline .rm-timeline-nav .rm-timeline-nav-item .rm-timeline-nav-item-dot {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #54595F;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}
.rm-timeline .rm-timeline-nav .slick-prev {
  left: 5px;
  z-index: 100;
}
.rm-timeline .rm-timeline-nav .slick-next {
  right: 5px;
  z-index: 100;
}
.rm-timeline .rm-timeline-for {
  padding: 50px 0;
}
.rm-timeline .rm-timeline-for .rm-timeline-for-heading {
  font-family: "Montserrat", sans-serif;
  font-size: var(--title-font-size);
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}
.rm-timeline .rm-timeline-for .rm-timeline-for-body {
  max-width: 880px;
  margin: 20px auto 0;
}
.rm-timeline .rm-timeline-for .rm-timeline-for-item {
  text-align: center;
}
.rm-timeline .rm-timeline-for .rm-timeline-for-item.slick-slide {
  height: 0;
}
.rm-timeline .rm-timeline-for .rm-timeline-for-item.slick-current {
  height: auto;
}
.rm-timeline .rm-timeline-for .rm-timeline-for-item p {
  font-family: "Montserrat", sans-serif;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: #fff;
}

.rm-franchise {
  padding: 50px 0;
  background-color: #004DFF;
}
.rm-franchise .rm-franchise-heading {
  text-align: center;
  margin-bottom: 40px;
}
.rm-franchise .rm-franchise-heading h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .rm-franchise .rm-franchise-heading h2 {
    font-size: 74px;
  }
}
@media screen and (min-width: 1024px) {
  .rm-franchise .rm-franchise-heading h2 {
    font-size: 96px;
  }
}
.rm-franchise .rm-franchise-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/*# sourceMappingURL=main.css.map */
